@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;900&family=Rancho&family=Roboto:wght@300;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

:root {
  --color-primary: #f2b941;
  --color-secondary: #000000;
}

header {
    position: fixed;
    display: flex;
    height: 5em;
    min-height: 5em;
    background-color: var(--color-secondary);
    padding: 0 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-primary);
    z-index: 100000;
  
    & .logo {
      display: flex;
    }
  
    & img {
      width: 7em;
      height: 80em;
      height: 4em;
      filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, 0.758));
      -webkit-filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, 0.758));
      background-color: white;
      
    }
  
    & .navigation {
      display: flex;
      align-items: center;
      justify-content: center;
  
      & ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
  
        & li {
          text-decoration: none;
          font-size: 1.5em;
          font-weight: bold;
          &:hover {
            transition: all ease-in-out 0.2s;
            background: var(--color-secondary);
            padding: 5px;
            border-radius: 10px;
          }
        }
  
        & a {
          margin: 0 25px;
          text-decoration: none;
          color: var(--color-primary);
        }
      }
    }
  }

  body {
    background: linear-gradient(
      90deg,
      #f2b941 0%,
      #f2b941 30%,
      #000000 30%,
      #000000 30%);

      

  }

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;


  & .title {
    position: absolute;
    top: 85px;
    font-size: 1.5em;
    color: var(--color-primary);
    z-index: 5;
    /* font-weight: bold; */
    
  }

  
  

  & .container-servicios {
    position: relative;
    width: 100%px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    padding: 20px 15px;

    & .card {
      position: relative;
      width: 300px;
      height: 215px;
      background: white;
      margin: 30px 10px;
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
      transition: 0.6s ease-in-out;
      &:hover {

        height: 420px;
      }

      & .imgBox {
        position: relative;
        width: 260px;
        height: 260px;
        top: -60px;
        left: 8px;
        overflow: hidden;

        & img {
          max-width: 100%;
          height: 100%;
          border-radius: 4px;
          object-fit: cover;
        }
      }

      & .content-card {
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color: #111;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
      &:hover .content-card{
        visibility: visible;
        opacity: 1;
        margin-top: -40px;
        transition-delay: 0.3s;
      }
    }

    
  }

  &.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  & .title1 {
     display: flex;

    & .sec-text {
        height: 68px;
        line-height: 72px;
        overflow: hidden;
    }
    
    & .primertexto {
        font-size: 72px;
        color: #fff;
        
    }
    
    & .sec-text li{
        position: relative;
        top: 10px;
        font-size: 60px;
        color: var(--color-primary);
        list-style: none;
        padding: 0 50px;
        animation: slide 12s steps(4);
        -webkit-animation: slide 20s steps(5) infinite;
        
        & span{
            position: relative;

            &::before{
                content:'';
                position: absolute;
                left: 0%;
                width: 600px;
                height: 80px;
                border-left: 2px solid var(--color-primary);
                background: #000000;
                animation: typing 2s steps(10) infinite alternate;
                -webkit-animation: typing 2s steps(10) infinite alternate;
}
        }

    }
  }
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

@keyframes slide {
    100% {
        top: -360px
    }
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
}
}




@media screen and (max-width: 900px) {
    header {
      flex-direction: column;
      font-size: 10px;
      padding: 0px;
    }
  }
  
  @media screen and (max-width: 500px) {
    header {
      display: flex;
      flex-direction: column;
  
      padding: 0px;
      width: 100%;
  
      & .navigation {
        display: block;
      }
    }
  }
  
  @media screen and (max-width: 300px) {
    header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      flex-direction: column;
      justify-content: center;
      font-size: 8px;
      padding: 0px;
      margin-left: 0;
  
      & navigation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 5em;
        & a {
          flex: 0 0 100%;
        }
      }
    }
  }



